@charset "UTF-8";

/*Configurações gerais*/

*{
    padding: 0px;
    margin: 0px;
}

html, body{
    width: 100vw;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
}

h1{
    color: white;
    padding: 10px;
}